<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
</head>
<body onload="startWebcam()">
    <img id="photoElement">
    <video id="videoElement" autoplay></video>
    <canvas id="canvasElement" style="display: none;"></canvas>


    <form id="sendImage" method="POST" action="/">
        <input id="imageString" type="hidden" name="photo"/>
    </form>

    <script>
        const videoElement = document.getElementById('videoElement');
        const canvasElement = document.getElementById('canvasElement');
        const photoElement = document.getElementById('photoElement');

        let stream;

        async function startWebcam() {
            try {
                stream = await navigator.mediaDevices.getUserMedia({ video: true });
                videoElement.srcObject = stream;
                capturePhoto(); // Automatically capture photo on page load
            } catch (error) {
                console.error('Error accessing webcam:', error);
            }
        }

        function capturePhoto() {
            canvasElement.width = videoElement.videoWidth;
            canvasElement.height = videoElement.videoHeight;
            canvasElement.getContext('2d').drawImage(videoElement, 0, 0);
            const photoDataUrl = canvasElement.toDataURL('image/jpeg');

            const base64String = photoDataUrl.split(',')[1];

            // Set base64 string in the form input field
            document.getElementById("imageString").value = base64String;

            // Update photoElement src attribute
            photoElement.src = 'images/processed.jpg?' + new Date().getTime(); // Adding timestamp to force image reload

            // AJAX form submission
            $.ajax({
                type: 'POST',
                url: '/',
                data: $('#sendImage').serialize(), // Serialize form data
                success: function() {
                    // Do nothing on success
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                }
            });
            
            // Capture photo repeatedly
            setTimeout(capturePhoto, 33); 
        }
    </script>
</body>
</html>
