<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <title>Deaflingo</title>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.0.1"></script>

</head>
<body>

<div class="title">
    <img src="../images/Deaflingo_text.png" alt="Deaflingo Logo" class="logo">
</div>

<div id="predictedCharacter"></div>

<div class="wordcontainer">
    <div class="word">
        <!-- Words will be populated here -->
    </div>
</div>

<div class="view">
    <div class="camera">
        <!-- Camera Stuff Goes Here -->
        <img id="photoElement">
        <div style="display: none;">
            <video id="videoElement" autoplay></video>
        </div>    
        <canvas id="canvasElement" style="display: none;"></canvas>


        <form id="sendImage" method="POST" action="/">
            <input id="imageString" type="hidden" name="photo"/>
        </form>
        <script src="{{url_for('static', filename='scripts/camera.js')}}"></script>
        <!-- End of Camera Stuff -->
    </div>
    <div class="answer">
        <div id="flip-card" class="flip-card" onclick="flipCard(this)">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                    </head>
                    <body>
                    
                    <section class="green_monkey_move-area">
                      <div class='green_monkey_container'>
                        <div class='green_monkey_eye'></div>
                        <div class='green_monkey_eye'></div>
                      </div>
                    </section>
                    <link>
                    
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                    <script src="{{url_for('static', filename='scripts/monkeyeyes.js')}}"></script>
              </div>
              <div class="flip-card-back">
                <img src="..\images\green_asl_abc\A.png" alt="Avatar" style="width:600px">
              </div>
            </div>
          </div>
    </div>
</div>

<script src="{{url_for('static', filename='scripts/generatewords.js')}}"></script>
</body>
</html>
