<button class="button">
    Click me
  </button>
  
  <style>
  /* Boilerplate */
  button {
    all: unset;
    display: inline-block;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 17px;
  }
  
  /* Important stuff below */
  .button {
    background-color: #58cc02;
    box-shadow: 0 5px 0 #58a700;
  }
  
  .button:active {
    box-shadow: none;
    transform: translateY(5px);
  }
  </style>
  