<div class="container">
  <div class="quote-display" id="quoteDisplay"></div>
  <textarea id="quoteInput" class="quote-input" autofocus></textarea>
</div>

<style>
    * {
        box-sizing: border-box;
      }
      
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
        background-color: #1E0555;
      }
      
      body, .quote-input {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      
      .container {
        background-color: #F0DB4F;
        padding: 1rem;
        border-radius: .5rem;
        width: 700px;
        max-width: 90%;
      }
      
      .timer {
        position: absolute;
        top: 2rem;
        font-size: 3rem;
        color: #F0DB4F;
        font-weight: bold;
      }
      
      .quote-display {
        margin-bottom: 1rem;
        margin-left: calc(1rem + 2px);
        margin-right: calc(1rem + 2px);
      }
      
      .quote-input {
        background-color: transparent;
        border: 2px solid #A1922E;
        outline: none;
        width: 100%;
        height: 8rem;
        margin: auto;
        resize: none;
        padding: .5rem 1rem;
        font-size: 1rem;
        border-radius: .5rem;
      }
      
      .quote-input:focus {
        border-color: black;
      }
      
      .correct {
        color: green;
      }
      
      .incorrect {
        color: red;
        text-decoration: underline;
      }
</style>

<script>
    const RANDOM_QUOTE_API_URL = 'https://api.quotable.io/random'
    const quoteDisplayElement = document.getElementById('quoteDisplay')
    const quoteInputElement = document.getElementById('quoteInput')
    const timerElement = document.getElementById('timer')

    quoteInputElement.addEventListener('input', () => {
    const arrayQuote = quoteDisplayElement.querySelectorAll('span')
    const arrayValue = quoteInputElement.value.split('')

    let correct = true
    arrayQuote.forEach((characterSpan, index) => {
        const character = arrayValue[index]
        if (character == null) {
        characterSpan.classList.remove('correct')
        characterSpan.classList.remove('incorrect')
        correct = false
        } else if (character === characterSpan.innerText) {
        characterSpan.classList.add('correct')
        characterSpan.classList.remove('incorrect')
        } else {
        characterSpan.classList.remove('correct')
        characterSpan.classList.add('incorrect')
        correct = false
        }
    })

    if (correct) renderNewQuote()
    })

    function getRandomQuote() {
    return fetch(RANDOM_QUOTE_API_URL)
        .then(response => response.json())
        .then(data => data.content)
    }

    async function renderNewQuote() {
    const quote = await getRandomQuote()
    quoteDisplayElement.innerHTML = ''
    quote.split('').forEach(character => {
        const characterSpan = document.createElement('span')
        characterSpan.innerText = character
        quoteDisplayElement.appendChild(characterSpan)
    })
    quoteInputElement.value = null
    startTimer()
    }

    let startTime
    function startTimer() {
    timerElement.innerText = 0
    startTime = new Date()
    setInterval(() => {
        timer.innerText = getTimerTime()
    }, 1000)
    }

    function getTimerTime() {
    return Math.floor((new Date() - startTime) / 1000)
    }

    renderNewQuote()
</script>