@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.title {
    flex-grow: .75;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}
.logo {
    width: 400px;
    height: auto;
}

.wordcontainer {
    flex-grow: .75;
    display: flex;
    justify-content: center;
    align-items: center;
}

.word {
    font-size: 5em;
    font-family: 'Roboto Mono', monospace;
    flex-grow: .75;
    display: flex;
    justify-content: center;
    align-items: center;
}

.underline {
    color: black;
    margin-right: 0.2em;
}

.cursor {
    color: black;
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.view {
    display: flex;
    flex-grow: 2.5;
}

.green_monkey_move-area .card {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.green_monkey_move-area .card.flip {
    transform: rotateX(180deg);
}

.green_monkey_move-area .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background-size: contain;
}

.green_monkey_move-area .card .front {
    background: url('../../images/greenmonkey.png') no-repeat center center;
    background-size: contain;
}

.green_monkey_move-area .card .back {
    background: url('../../images/hand.jpg') no-repeat center center;
    background-size: contain;
    transform: rotateY(180deg);
}

.camera,
.answer {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: absolute;
    top: 40px;
    right: 20px;
    background-color: #cdde87ff;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}


#photoElement {
    border-radius: 30px;
    border: 5px solid #b6b6b6;
}

.footer {
    padding: 10px;
}

.flip-card {
    background-color: transparent;
    width: 600px;
    height: 430px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
}

.flip-card-back {
    transform: rotateX(180deg);
}

.green_monkey_move-area {
    width: 600px; /* Adjust the width as needed */
    height: 450px; /* Adjust the height as needed */
    background: url('../../images/flashcard_top.png') no-repeat center center;
    background-size: contain; /* Ensures the image is fully contained */
    position: relative;
}

.green_monkey_container {
    position: absolute;
    top: 54%;
    left: 73%;
    transform: translate(-50%, -50%);
}

.green_monkey_eye {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: 40px; /* Adjust the eye size as needed */
    width: 29px; /* Adjust the eye size as needed */
}

.green_monkey_eye:after {
    position: absolute;
    bottom: 7px; /* Adjust the position of the eye as needed */
    right: 4px; /* Adjust the position of the eye as needed */
    width: 15px; /* Adjust the eye size as needed */
    height: 15px; /* Adjust the eye size as needed */
    background: #515152ff;
    border-radius: 50%;
    content: " ";
}

.wordcontainer .word div {
    display: inline-block;
    margin-right: 35px; /* Adjust the value to increase or decrease space */
}