@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.title {
    /*background-color: white;*/
    flex-grow: .75;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}
.logo {
    width: 250px; /* You can adjust the width as per your requirement */
    height: auto; /* This will maintain the aspect ratio */
    position: absolute;
    left: 20%; /* 1/4 of the page width */
    top: 1.25%; /* Align to the top of the page */
}

.wordcontainer {
    flex-grow: .75;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #e0e0e0;*/
}

.word {
    font-size: 5em;
    font-family: 'Roboto Mono', monospace; /* Roboto Mono font */
    flex-grow: .75;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}

.underline {
    text-decoration: underline;
    color: black;
    margin-right: 0.2em; /* add space between letters */
}

.underline.green {
    color: rgb(88, 204, 2);
}


.view {
    /*background-color: #e0e0e0;*/
    display: flex;
    flex-grow: 2.5; /* Made it larger */
}


.green_monkey .move-area {
    background-color: #e0e0e0;
    display: flex;
    flex-grow: 2.5; /* Made it larger */
    max-width: 400px; /* Adjust the width as needed */
    max-height: 300px; /* Adjust the height as needed */
    background: url('../../images/greenmonkey.png') no-repeat center center;
    background-size: contain; /* Ensures the image is fully contained */
    position: relative;
}


.camera,
.answer {
    flex: 1;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    border-bottom: 1px solid rgb(195, 195, 195);
}
#photoElement {
    border-radius: 30px;
    border: 5px solid #b6b6b6;
}

.footer {
    /*background-color: #cccccc;*/
    padding: 10px;
}

#predictedCharacter {
        font-size: 20em; /* Adjust the font size as needed */
}

.green_monkey_move-area {
    width: 400px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    background: url('../../images/greenmonkey.png') no-repeat center center;
    background-size: contain; /* Ensures the image is fully contained */
    position: relative;
}

.green_monkey_container {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.green_monkey_eye {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: 35px; /* Adjust the eye size as needed */
    width: 35px; /* Adjust the eye size as needed */
    
}

.green_monkey_eye:after {
    position: absolute;
    bottom: 7px; /* Adjust the position of the eye as needed */
    right: 4px; /* Adjust the position of the eye as needed */
    width: 20px; /* Adjust the eye size as needed */
    height: 20px; /* Adjust the eye size as needed */
    background: #515152ff;
    border-radius: 50%;
    content: " ";
}